<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.ironcows.joodok.mapper.CheckUpMapper">


	<select id="getCheckUpNo" parameterType="String" resultType="String">
		SELECT c.checkUpNo
		  FROM checkUp c
		 WHERE c.librarianNo = #{value}
		   AND rownum = 1
		 ORDER BY c.registeredDate DESC
	</select>

	<!-- 검수 1개 선택 -->
	<select id="getOneCheckUp" parameterType="CheckUp" resultType="CheckUp">
		SELECT c.checkUpNo
			  ,c.librarianNo
			  ,c.registeredDate
			  ,c.modifiedDate
		  FROM checkUp c
		 WHERE c.checkUpNo = #{checkUpNo}
	</select>
	
	
	<!-- 검수 1개 등록 -->
	<insert id="insertCheckUp" parameterType="CheckUp">
		INSERT INTO checkUp(checkUpNo
						   ,librarianNo
						   ,registeredDate)
				<!-- 없으면 YYMMDD0001 부터, 있으면 가장 최근 등록된 레코드의 값에서 자동으로 1씩 증가하게 하자 -->		   
		VALUES ((SELECT TO_CHAR(sysdate, 'YYMMDD')||NVL(LPAD(MAX(SUBSTR(c.checkUpNo, 7, 4))+1, 4, '0'), '0001')
			     FROM checkUp c
			    WHERE TO_CHAR(sysdate, 'YYMMDD') = SUBSTR(c.checkUpNo, 1, 6))
			   ,#{librarianNo}
			   ,sysdate)
	</insert>
	
</mapper>
          